@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Oxygen:wght@400;700&display=swap");

element{
  --color1 : #000807 ; 
  --color2 : #A2A3BB;
  --color3 : #9395D3 ;
  --color4 : #B3B7EE ;
  --color5 : #FBF9FF ;

}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #000807;
  font-family: "Bebas Neue", cursive;
  scroll-behavior: smooth;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.nav .wrapper {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav .wrapper a {
  float: left;
  color: #FBF9FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 10px;
  z-index: 10;
  transition: 0.5s;
}

.nav .wrapper a:hover {
  color: #A2A3BB;
  transition: 0.5s;
}

.nav .wrapper .navbar-center a {
  float: none;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9395D3;
}

.nav .wrapper .navbar-left {
  float: left;
}

.nav .wrapper .navbar-right {
  float: right;
}

.container-social-icon {
  background-color: transparent;
  opacity: 0.5;
  width: 100%;
  height: auto;
  position: fixed;
  margin-top: 90vh;
  border-radius: 10px;
}

.container-social-icon .social-media-icon {
  text-align: center;
  align-items: center;
}

.container-social-icon .social-media-icon i {
  padding: 0.5vh;
  opacity: 2;
  cursor: pointer;
  color: #FBF9FF;
  transition: 0.5s;
  padding: 10px;
}

.container-social-icon .social-media-icon i:hover {
  opacity: 2;
  cursor: pointer;
  color: #A2A3BB;
  transition: 0.5s;
}

.home-page-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.home-page-section .text-presentation {
  width: 100%;
}

.home-page-section .text-presentation p {
  font-size: xx-large;
}

.home-page-section .text-presentation p:active {
  color: #A2A3BB;
}

.home-page-section .text-presentation .multiText {
  color: #9395D3;
}

.home-page-section .text-presentation .text-presentation-wout-anim {
  color: #FBF9FF;
}

.work {
  top: 125vh;
}

.work-page-section {
  height: 325vh;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-family: "Oxygen", sans-serif;
}

.container-work {
  margin-top: 12.5vh;
  margin-left: 18.5%;
  overflow: hidden;
  width: 65%;
  height: 65vh;
  background-color: #FBF9FF;
  border-radius: 10px;
  margin-bottom: 50vh;
  font-weight: bold;
}

.image-work {
  z-index: 9;
  position: absolute;
  width: 50%;
  height: 65vh;
}

.video-work {
  z-index: 9;
  position: absolute;
  width: 50%;
  height: 65vh;
  overflow: hidden;
}

.video-work video {
  width: 90%;
  height: 70vh;
  object-fit: cover;
}

.image-work img {
  object-fit: cover;
  transition: 1s;
}

.image-work img:hover {
  opacity: 0.95;
  transition: 1s;
}

.description-work {
  overflow: hidden;
  position: absolute;
  width: 20%;
  height: 65vh;
  left: 63.5%;
  margin-top: 5px;
  font-weight: bold;
}

.description-work h2 {
  color: #02020a;
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.skills-project {
  width: 100%;
  height: 4vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.skills-code-project {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 2%;
  padding: .5rem 1rem;
  border-radius: 10px;
  background: #A2A3BB;
  margin-right: 2%;
  font-size: x-small;
}
.skills-code-project-working {
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 2%;
  padding: .5rem 1rem;
  border-radius: 10px;
  background: #B3B7EE;
  color: white;
  margin-right: 2%;
  font-size: x-small;
}


.projet-description {
  display: flex;
  
  margin-left: 5%;
  position: absolute;
  width: 85%;
  height: 75%;
  font-size: medium;
  font-weight: 400;
  
}

.projet-description p {
  color: #A2A3BB;
}

.aboutme-page-section {
  height: 100vh;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  font-family: "Oxygen", sans-serif;
}

.container-aboutme {

  margin-top: 18.5vh;
  overflow: hidden;
  margin-left: 12.5%;
  width: 75%;
  height: 60vh;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 50vh;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  /* background-color: #878787; */

}

.aboutme-picture {
  margin-left: -12.5%;;
  z-index: 10;
  max-width: fit-content;
  width: 35%;
  height: 60vh;
  display: flex;
  justify-content:center;
  align-items: center;

}

.aboutme-picture img {
  width: 70%;
  border-radius: 50%;
  transition: ease-in-out 1s;
  filter: blur(0.5px);
  box-shadow: 0px 0px 15px 15px rgba(121, 121, 121, 0.2);
}

.aboutme-picture img:hover {
  width: 72.5%;
  filter: blur(0px);
  box-shadow: 0px 0px 10px 10px rgba(169, 169, 169, 0.312);
}

.aboutme-description {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  width: 20%;
  height: 40vh;

}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: small;
  background: #B3B7EE ;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}










/* Responsive */
@media screen and (max-width: 4500px) {
  .image-work img {
    width: 90%;
    height: 100%;
  }

  .skills-project p {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 2000px) {
  .skills-project p {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 1700px) {
  .skills-project p {
    font-size: 15.5px;
  }

  .skills-code-project2 {
    margin-left: 40%;
  }
}

@media screen and (max-width: 1200px) {
  .skills-code-project {
    font-size: xx-small;
  }
  .skills-code-project-working {
    font-size: xx-small;
  }

  .projet-description {
    font-size: small;
  }
}

@media screen and (max-width: 900px) {
  .container-work {
    background-color: transparent;
  }

  .video-work {
    width: 72.5%;
  }

  .video-work video {
    border-radius: 10px;
  }

  .image-work {
    width: 72.5%;
  }

  .image-work img {
    border-radius: 10px;
  }

  .projet-description {
    display: none;
  }

  .description-work {
    z-index: 11;
    position: absolute;
    width: 50%;
    height: 10vh;
    left: 19%;
    margin-top: 57vh;
    font-weight: bold;
  }

  .description-work h2 {
    display: none;
  }

  .skills-code-project p {
    font-size: xx-small;
  }

  .skills-code-project1 p {
    font-size: xx-small;
  }

  .skills-code-project2 {
    margin-left: 20%;
  }

  .skills-code-project2 p {
    font-size: xx-small;
  }

  .container-aboutme {
    flex-direction: column;
    align-items: center;
  }

  .aboutme-picture {
    width: 50%;
    margin-left:1%;
  }

  .aboutme-description {
    width: 40%;
    font-size: 15px;

  }
}

@media screen and (max-width: 650px) {
  .skills-code-project-working{
    display: none;
  }
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105);
  border-radius: 10px;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}